.message-container {
  margin-top: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.msg-details {
  background-color: antiquewhite;
  margin: 5px;
}

.clear{
    margin: 5px;
}