.dashboard-container {
  margin-top: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heroes-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.heroes-menu a {
  background-color: chocolate;
  padding: 10px;
  border-radius: 5px;
  margin: 3px;
  color: rgb(54, 54, 54);
  text-decoration: none;
  cursor: pointer;
}
